.footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Pastikan footer memenuhi lebar layar */
    background-color: #f8f9fa; /* Warna background */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan halus */
  }

  