        /* Gaya untuk keseluruhan halaman */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #00a5d2;
            color: #555;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Container login */
        .login-container {
            background-color: #006582b3;
            padding: 40px 30px;
            border-radius: 10px;
            width: 100%;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Logo */
        .login-container img {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
            border-radius: 50%;
            background-color: #fff;
        }

        /* Judul */
        .login-container h1 {
            font-size: 1.8rem;
            color: #ffffff;
            margin: 10px 0 5px;
            text-align: left;
        }

        .login-container p {
            font-size: 0.9rem;
            color: #cacaca;
            margin: 5px 0 20px;
        }

        /* Input dan tombol */
        .login-container .form-control {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-container .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
        }

        .login-container .btn-primary:hover {
            background-color: #555;
        }

        /* Link */
        .login-container a {
            color: #555;
            text-decoration: none;
        }

        .login-container a:hover {
            text-decoration: underline;
        }
        .login-container a {
            color: blue; /* Mengatur warna link menjadi biru */
            text-decoration: none; /* Menghilangkan garis bawah default */
        }

        .login-container a:hover {
            text-decoration: underline; /* Menambahkan garis bawah saat hover */
        }