/* public/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #4facfe, #00f2fe);
    color: #fff;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0 30px;
}

.hero a {
    text-decoration: none;
    background-color: #ff6363;
    color: #fff;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.hero a:hover {
    background-color: #ff4242;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 20px;
}

.card {
    background: #fff;
    color: #333;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    font-size: 0.9rem;
    line-height: 1.4;
}

.card a {
    text-decoration: none;
    color: #4facfe;
    font-weight: bold;
}

footer {
    background-color: #00a5d2; /* Warna biru */
    color: white; /* Warna teks putih agar kontras */
  }

  
